$imageTimeOfDay: "../../homework/img/m-h-day.jpg";
$fontHeading: 'Source Sans Pro', sans-serif;
$colorHeadingHeader: #2c2f3c;
$colorOfButton: #699900;
$colorOfField: #34a0c7;
$backgroundMain: white;
$backgroundOfSection: #21232e;
$colorGradientEnd: #2f5dd0;
$colorheadingMain: black;
