$imageTimeOfDay: "../../homework/img/m-h-night.jpg";
$fontHeading: 'Source Sans Pro', sans-serif;
$colorHeadingHeader: white;
$colorOfButton: #e3ac00;
$colorOfField: #ff4e33;
$backgroundMain: #21232e;
$backgroundOfSection: #3b3f50;
$colorGradientEnd: #932d52;
$colorheadingMain: white;
